# Titanic Predictive Model

**Objective**: use previous saved model to generate the predction for the test set

**Results**:

In [6]:
import os

import pandas as pd
from pycaret.classification import load_model

In [22]:
DATA_PATH = '/home/wedeueis/Projetos/Artefact/Meetup/titanic/data/'

TEST_FILE = 'processed/test_model_input_with_dummies.csv'
MODEL_FILE = '../models/predictive_pipeline'

OUTPUT_FILE = "outputs/prediction.csv"

In [16]:
df = pd.read_csv(os.path.join(DATA_PATH, TEST_FILE))
df.set_index('PassengerId', inplace=True)
df.head()

,Age,SibSp,Parch,Fare,Alone,Pclass_1,Pclass_2,Sex_female,Embarked_C,Embarked_Q
PassengerId,,,,,,,,,,
892,34.5,0,0,7.8292,0,0,0,0,0,1
893,47.0,1,0,7.0000,1,0,0,1,0,0
894,62.0,0,0,9.6875,0,0,1,0,0,1
895,27.0,0,0,8.6625,0,0,0,0,0,0
896,22.0,1,1,12.2875,1,0,0,1,0,0

In [17]:
pipeline = load_model(os.path.join(DATA_PATH, MODEL_FILE))

Transformation Pipeline and Model Successfully Loaded

In [18]:
#make predicitons
predictions = pipeline.predict(df)
df['Survived'] = predictions

df.head()

,Age,SibSp,Parch,Fare,Alone,Pclass_1,Pclass_2,Sex_female,Embarked_C,Embarked_Q,Survived
PassengerId,,,,,,,,,,,
892,34.5,0,0,7.8292,0,0,0,0,0,1,0
893,47.0,1,0,7.0000,1,0,0,1,0,0,0
894,62.0,0,0,9.6875,0,0,1,0,0,1,0
895,27.0,0,0,8.6625,0,0,0,0,0,0,0
896,22.0,1,1,12.2875,1,0,0,1,0,0,1

In [23]:
df[['Survived']].to_csv(os.path.join(DATA_PATH, OUTPUT_FILE))