# Titanic Model

**Objective**: use machine learning to create a model that predicts which passengers survived the Titanic 

**Results**:

- using Ada Boost Classifier model we found Accuracy = 0.7966; F1 = 0.7459

In [30]:
#import librarys
from pycaret.classification import setup, compare_models, create_model, tune_model, predict_model
import pandas as pd

In [6]:
#getting data
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [20]:
#ML COM PYCARET
model_setup = setup(data = train,
                  target = 'Survived',
                  numeric_features = ['SibSp','Parch'],
                  train_size = 0.75,
                  normalize = True,
                  ignore_low_variance = True,
                  combine_rare_levels = True,
                  remove_multicollinearity = True,
                  feature_selection = True,
                  fold_strategy = 'stratifiedkfold',
                  fold = 10)

In [23]:
#choosing the best ML model
model = compare_models()

In [26]:
#training the model
ada = create_model('ada')

In [28]:
#tunning model
ada_tunned = tune_model(ada, optimize = 'F1', n_iter = 15)
ada_tunned

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=0.1,
                   n_estimators=240, random_state=4665)

In [31]:
#make predicitons
predictions = predict_model(ada_tunned, data=test)
predictions

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Label,Score
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,0,0.5199
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,0,0.5148
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,0,0.5223
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,0,0.5215
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,1,0.5035
...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,0,0.5215
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C,1,0.5340
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,0,0.5221
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,0,0.5215
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,0,0.5180