### Feature Engineering for the titanic use case data

**Objective**: Change the data representation to be more informative / interpretable

**Results**:

In [1]:
import os

import pandas as pd

In [2]:
# Constants

DATA_PATH = '/home/wedeueis/Projetos/Artefact/Meetup/titanic/data/'
INPUT_FILE = "interim/cleaned_test.csv"
OUTPUT_FILE = "processed/{}.csv"

In [3]:
df = pd.read_csv(os.path.join(DATA_PATH, INPUT_FILE))
df.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [4]:
# Combine the Sibsp and Parch variables into a Alone true/false indicator variable

df['Alone'] = ((df['SibSp'] + df['Parch']) > 0) * 1

In [5]:
df[["PassengerId", 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'Alone']].to_csv(os.path.join(DATA_PATH, OUTPUT_FILE.format("test_model_input")), index=False)

In [6]:
# Dummify the categorical columns for numerical only algorithms
df = pd.get_dummies(df, columns=['Pclass', 'Sex', 'Embarked'])

In [7]:
df[["PassengerId",'Age', 'SibSp', 'Parch', 'Fare', 'Alone', 'Pclass_1', 'Pclass_2', 'Sex_female', 'Embarked_C',
       'Embarked_Q']].to_csv(os.path.join(DATA_PATH, OUTPUT_FILE.format("test_model_input_with_dummies")), index=False)