### Feature Engineering for the titanic use case data

**Objective**: Change the data representation to be more informative / interpretable

**Results**:

In [31]:
import os

import pandas as pd
import numpy as np

In [27]:
# Constants

DATA_PATH = '/home/wedeueis/Projetos/Artefact/Meetup/titanic/data/'
INPUT_FILE = "interim/cleaned_train.csv"
OUTPUT_FILE = "processed/{}.csv"

In [23]:
df = pd.read_csv(os.path.join(DATA_PATH, INPUT_FILE))
df.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked  Survived
0       3    male  22.0      1      0   7.2500        S         0
1       1  female  38.0      1      0  71.2833        C         1
2       3  female  26.0      0      0   7.9250        S         1
3       1  female  35.0      1      0  53.1000        S         1
4       3    male  35.0      0      0   8.0500        S         0

In [24]:
# Combine the Sibsp and Parch variables into a Alone true/false indicator variable

df['Alone'] = ((df['SibSp'] + df['Parch']) > 0) * 1

In [29]:
df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked',
       'Alone', 'Survived']].to_csv(os.path.join(DATA_PATH, OUTPUT_FILE.format("train_model_input")), index=False)

In [36]:
# Dummify the categorical columns for numerical only algorithms
df = pd.get_dummies(df, columns=['Pclass', 'Sex', 'Embarked'])

In [38]:
df[['Age', 'SibSp', 'Parch', 'Fare', 'Alone', 'Pclass_1', 'Pclass_2', 'Sex_female', 'Embarked_C',
       'Embarked_Q', 'Survived']].to_csv(os.path.join(DATA_PATH, OUTPUT_FILE.format("train_model_input_with_dummies")), index=False)